################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AboveTheMainDiagonal/obj
/AllocateArray/obj
/ElMessage/obj
/DigitAsWord/obj
/CalculateThree/obj
/CalculateProblem/obj
/CalculateAgain/obj
/BusTrip/obj
/BonusScore/obj
/BinaryToHex/obj
/BiggestPrimeNumber/obj
/Beach/obj
/ArrayThreeGroups/obj
/AppearanceCount/obj
/MinDigit/obj
/MaxSumKElements/obj
/MatrixOfNumbers/obj
/MathGame/obj
/Marks/obj
/LongestSequenceOfEqual/obj
/LargestNumber/obj
/IntDoubleString/obj
/GCD/obj
/ExchangeIfGreater/obj
/EncryptedSMS/obj
/WindowsTask/obj
/TelerikAcademyTraining/obj
/StringPractice/obj
/StringChallenge/obj
/StepsCounter/obj
/Sort/obj
/SecretMessage/obj
/SayHello/obj
/ReverseArray/obj
/ReturnMoney/obj
/PrizeCheck/obj
/PrintDeck/obj
/PrimeTriangle/obj
/PrimeNumbers/obj
/NotDivisableNumber/obj
/nFactorial/obj
/TelerikAcademyTraining.sln.DotSettings.user
