################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AboveTheMainDiagonal/obj
/AllocateArray/obj
/ElMessage/obj
/DigitAsWord/obj
/CalculateThree/obj
/CalculateProblem/obj
/CalculateAgain/obj
/BusTrip/obj
/BonusScore/obj
/BinaryToHex/obj
/BiggestPrimeNumber/obj
/Beach/obj
/ArrayThreeGroups/obj
/AppearanceCount/obj
/MinDigit/obj
/MaxSumKElements/obj
/MatrixOfNumbers/obj
/MathGame/obj
/Marks/obj
/LongestSequenceOfEqual/obj
/LargestNumber/obj
/IntDoubleString/obj
/GCD/obj
/ExchangeIfGreater/obj
/EncryptedSMS/obj
/WindowsTask/obj
/TelerikAcademyTraining/obj
/StringPractice/obj
/StringChallenge/obj
/StepsCounter/obj
/Sort/obj
/SecretMessage/obj
/SayHello/obj
/ReverseArray/obj
/ReturnMoney/obj
/PrizeCheck/obj
/PrintDeck/obj
/PrimeTriangle/obj
/PrimeNumbers/obj
/NotDivisableNumber/obj
/nFactorial/obj
/TelerikAcademyTraining.sln.DotSettings.user
/NumbersFrom1ToN/bin/Debug
/NumbersFrom1ToN/obj/Debug
BiggestOfFive/obj/Debug/netcoreapp2.1/BiggestOfFive.AssemblyInfoInputs.cache
.vscode/launch.json
.vscode/tasks.json
BiggestOfFive/obj/BiggestOfFive.csproj.nuget.cache
BiggestOfFive/obj/BiggestOfFive.csproj.nuget.g.props
BiggestOfFive/obj/BiggestOfFive.csproj.nuget.g.targets
BiggestOfFive/obj/project.assets.json
BiggestOfFive/obj/Debug/netcoreapp2.1/BiggestOfFive.AssemblyInfo.cs
BiggestOfFive/obj/Debug/netcoreapp2.1/BiggestOfFive.assets.cache
BiggestOfFive/obj/Debug/netcoreapp2.1/BiggestOfFive.csproj.CoreCompileInputs.cache
BiggestOfThree/obj/BiggestOfThree.csproj.nuget.cache
BiggestOfThree/obj/BiggestOfThree.csproj.nuget.g.props
BiggestOfThree/obj/BiggestOfThree.csproj.nuget.g.targets
BiggestOfThree/obj/project.assets.json
BiggestOfThree/obj/Debug/netcoreapp2.1/BiggestOfThree.AssemblyInfo.cs
BiggestOfThree/obj/Debug/netcoreapp2.1/BiggestOfThree.AssemblyInfoInputs.cache
BiggestOfThree/obj/Debug/netcoreapp2.1/BiggestOfThree.assets.cache
BiggestOfThree/obj/Debug/netcoreapp2.1/BiggestOfThree.csproj.CoreCompileInputs.cache
BitConvertHIDDENTASK/obj/HIDDENTASK_BITCONVERT.csproj.nuget.cache
BitConvertHIDDENTASK/obj/HIDDENTASK_BITCONVERT.csproj.nuget.g.props
BitConvertHIDDENTASK/obj/HIDDENTASK_BITCONVERT.csproj.nuget.g.targets
BitConvertHIDDENTASK/obj/project.assets.json
BitConvertHIDDENTASK/obj/Debug/netcoreapp2.1/HIDDENTASK_BITCONVERT.AssemblyInfo.cs
BitConvertHIDDENTASK/obj/Debug/netcoreapp2.1/HIDDENTASK_BITCONVERT.AssemblyInfoInputs.cache
BitConvertHIDDENTASK/obj/Debug/netcoreapp2.1/HIDDENTASK_BITCONVERT.assets.cache
BitConvertHIDDENTASK/obj/Debug/netcoreapp2.1/HIDDENTASK_BITCONVERT.csproj.CoreCompileInputs.cache
BitShiftMatrix/obj/BitShiftMatrix.csproj.nuget.cache
BitShiftMatrix/obj/BitShiftMatrix.csproj.nuget.g.props
BitShiftMatrix/obj/BitShiftMatrix.csproj.nuget.g.targets
BitShiftMatrix/obj/project.assets.json
BitShiftMatrix/obj/Debug/netcoreapp2.0/BitShiftMatrix.AssemblyInfo.cs
BitShiftMatrix/obj/Debug/netcoreapp2.0/BitShiftMatrix.AssemblyInfoInputs.cache
BitShiftMatrix/obj/Debug/netcoreapp2.0/BitShiftMatrix.assets.cache
BitShiftMatrix/obj/Debug/netcoreapp2.0/BitShiftMatrix.csproj.CoreCompileInputs.cache
Bounce/obj/Bounce.csproj.nuget.cache
Bounce/obj/Bounce.csproj.nuget.g.props
Bounce/obj/Bounce.csproj.nuget.g.targets
Bounce/obj/project.assets.json
Bounce/obj/Debug/netcoreapp2.0/Bounce.AssemblyInfo.cs
Bounce/obj/Debug/netcoreapp2.0/Bounce.AssemblyInfoInputs.cache
Bounce/obj/Debug/netcoreapp2.0/Bounce.assets.cache
Bounce/obj/Debug/netcoreapp2.0/Bounce.csproj.CoreCompileInputs.cache
BounceV2/obj/BounceV2.csproj.nuget.cache
BounceV2/obj/BounceV2.csproj.nuget.g.props
BounceV2/obj/BounceV2.csproj.nuget.g.targets
BounceV2/obj/project.assets.json
BounceV2/obj/Debug/netcoreapp2.0/BounceV2.AssemblyInfo.cs
BounceV2/obj/Debug/netcoreapp2.0/BounceV2.AssemblyInfoInputs.cache
BounceV2/obj/Debug/netcoreapp2.0/BounceV2.assets.cache
BounceV2/obj/Debug/netcoreapp2.0/BounceV2.csproj.CoreCompileInputs.cache
CartesianCoordinates/obj/CartesianCoordinates.csproj.nuget.cache
CartesianCoordinates/obj/CartesianCoordinates.csproj.nuget.g.props
CartesianCoordinates/obj/CartesianCoordinates.csproj.nuget.g.targets
CartesianCoordinates/obj/project.assets.json
CartesianCoordinates/obj/Debug/netcoreapp2.1/CartesianCoordinates.AssemblyInfo.cs
CartesianCoordinates/obj/Debug/netcoreapp2.1/CartesianCoordinates.AssemblyInfoInputs.cache
CartesianCoordinates/obj/Debug/netcoreapp2.1/CartesianCoordinates.assets.cache
CartesianCoordinates/obj/Debug/netcoreapp2.1/CartesianCoordinates.csproj.CoreCompileInputs.cache
CheckForPlayCard/obj/CheckForPlayCard.csproj.nuget.cache
CheckForPlayCard/obj/CheckForPlayCard.csproj.nuget.g.props
CheckForPlayCard/obj/CheckForPlayCard.csproj.nuget.g.targets
CheckForPlayCard/obj/project.assets.json
CheckForPlayCard/obj/Debug/netcoreapp2.0/CheckForPlayCard.AssemblyInfo.cs
CheckForPlayCard/obj/Debug/netcoreapp2.0/CheckForPlayCard.AssemblyInfoInputs.cache
CheckForPlayCard/obj/Debug/netcoreapp2.0/CheckForPlayCard.assets.cache
CheckForPlayCard/obj/Debug/netcoreapp2.0/CheckForPlayCard.csproj.CoreCompileInputs.cache
Counting/obj/Counting.csproj.nuget.cache
Counting/obj/Counting.csproj.nuget.g.props
Counting/obj/Counting.csproj.nuget.g.targets
Counting/obj/project.assets.json
Counting/obj/Debug/netcoreapp2.0/Counting.AssemblyInfo.cs
Counting/obj/Debug/netcoreapp2.0/Counting.AssemblyInfoInputs.cache
Counting/obj/Debug/netcoreapp2.0/Counting.assets.cache
Counting/obj/Debug/netcoreapp2.0/Counting.csproj.CoreCompileInputs.cache
EvenNumbers/obj/EvenNumbers.csproj.nuget.cache
EvenNumbers/obj/EvenNumbers.csproj.nuget.g.props
EvenNumbers/obj/EvenNumbers.csproj.nuget.g.targets
EvenNumbers/obj/project.assets.json
EvenNumbers/obj/Debug/netcoreapp2.0/EvenNumbers.AssemblyInfo.cs
EvenNumbers/obj/Debug/netcoreapp2.0/EvenNumbers.AssemblyInfoInputs.cache
EvenNumbers/obj/Debug/netcoreapp2.0/EvenNumbers.assets.cache
EvenNumbers/obj/Debug/netcoreapp2.0/EvenNumbers.csproj.CoreCompileInputs.cache
FillTheMatrix/obj/FillTheMatrix.csproj.nuget.cache
FillTheMatrix/obj/FillTheMatrix.csproj.nuget.g.props
FillTheMatrix/obj/FillTheMatrix.csproj.nuget.g.targets
FillTheMatrix/obj/project.assets.json
FillTheMatrix/obj/Debug/netcoreapp2.0/FillTheMatrix.AssemblyInfo.cs
FillTheMatrix/obj/Debug/netcoreapp2.0/FillTheMatrix.AssemblyInfoInputs.cache
FillTheMatrix/obj/Debug/netcoreapp2.0/FillTheMatrix.assets.cache
FillTheMatrix/obj/Debug/netcoreapp2.0/FillTheMatrix.csproj.CoreCompileInputs.cache
ForestRoad/obj/ForestRoad.csproj.nuget.cache
ForestRoad/obj/ForestRoad.csproj.nuget.g.props
ForestRoad/obj/ForestRoad.csproj.nuget.g.targets
ForestRoad/obj/project.assets.json
ForestRoad/obj/Debug/netcoreapp2.0/ForestRoad.AssemblyInfo.cs
ForestRoad/obj/Debug/netcoreapp2.0/ForestRoad.AssemblyInfoInputs.cache
ForestRoad/obj/Debug/netcoreapp2.0/ForestRoad.assets.cache
ForestRoad/obj/Debug/netcoreapp2.0/ForestRoad.csproj.CoreCompileInputs.cache
ForestRoadV2/obj/ForestRoadV2.csproj.nuget.cache
ForestRoadV2/obj/ForestRoadV2.csproj.nuget.g.props
ForestRoadV2/obj/ForestRoadV2.csproj.nuget.g.targets
ForestRoadV2/obj/project.assets.json
ForestRoadV2/obj/Debug/netcoreapp2.0/ForestRoadV2.AssemblyInfo.cs
ForestRoadV2/obj/Debug/netcoreapp2.0/ForestRoadV2.AssemblyInfoInputs.cache
ForestRoadV2/obj/Debug/netcoreapp2.0/ForestRoadV2.assets.cache
ForestRoadV2/obj/Debug/netcoreapp2.0/ForestRoadV2.csproj.CoreCompileInputs.cache
HIDDENTASK_JOROTHENAUGHTY/obj/HIDDENTASK_JOROTHENAUGHTY.csproj.nuget.cache
HIDDENTASK_JOROTHENAUGHTY/obj/HIDDENTASK_JOROTHENAUGHTY.csproj.nuget.g.props
HIDDENTASK_JOROTHENAUGHTY/obj/HIDDENTASK_JOROTHENAUGHTY.csproj.nuget.g.targets
HIDDENTASK_JOROTHENAUGHTY/obj/project.assets.json
HIDDENTASK_JOROTHENAUGHTY/obj/Debug/netcoreapp2.1/HIDDENTASK_JOROTHENAUGHTY.AssemblyInfo.cs
HIDDENTASK_JOROTHENAUGHTY/obj/Debug/netcoreapp2.1/HIDDENTASK_JOROTHENAUGHTY.AssemblyInfoInputs.cache
HIDDENTASK_JOROTHENAUGHTY/obj/Debug/netcoreapp2.1/HIDDENTASK_JOROTHENAUGHTY.assets.cache
HIDDENTASK_JOROTHENAUGHTY/obj/Debug/netcoreapp2.1/HIDDENTASK_JOROTHENAUGHTY.csproj.CoreCompileInputs.cache
HIDDENTASK_JOROTHENAUGHTY/obj/Debug/netcoreapp2.1/HIDDENTASK_JOROTHENAUGHTY.csprojResolveAssemblyReference.cache
Kitty/obj/Kitty.csproj.nuget.cache
Kitty/obj/Kitty.csproj.nuget.g.props
Kitty/obj/Kitty.csproj.nuget.g.targets
Kitty/obj/project.assets.json
Kitty/obj/Debug/netcoreapp2.0/Kitty.AssemblyInfo.cs
Kitty/obj/Debug/netcoreapp2.0/Kitty.AssemblyInfoInputs.cache
Kitty/obj/Debug/netcoreapp2.0/Kitty.assets.cache
Kitty/obj/Debug/netcoreapp2.0/Kitty.csproj.CoreCompileInputs.cache
LargestThanNeighbours/obj/LargestThanNeighbours.csproj.nuget.cache
LargestThanNeighbours/obj/LargestThanNeighbours.csproj.nuget.g.props
LargestThanNeighbours/obj/LargestThanNeighbours.csproj.nuget.g.targets
LargestThanNeighbours/obj/project.assets.json
LargestThanNeighbours/obj/Debug/netcoreapp2.0/LargestThanNeighbours.AssemblyInfo.cs
LargestThanNeighbours/obj/Debug/netcoreapp2.0/LargestThanNeighbours.AssemblyInfoInputs.cache
LargestThanNeighbours/obj/Debug/netcoreapp2.0/LargestThanNeighbours.assets.cache
LargestThanNeighbours/obj/Debug/netcoreapp2.0/LargestThanNeighbours.csproj.CoreCompileInputs.cache
LongestIncreasingSequenceOfEqual/obj/LongestIncreasingSequenceOfEqual.csproj.nuget.cache
LongestIncreasingSequenceOfEqual/obj/LongestIncreasingSequenceOfEqual.csproj.nuget.g.props
LongestIncreasingSequenceOfEqual/obj/LongestIncreasingSequenceOfEqual.csproj.nuget.g.targets
LongestIncreasingSequenceOfEqual/obj/project.assets.json
LongestIncreasingSequenceOfEqual/obj/Debug/netcoreapp2.0/LongestIncreasingSequenceOfEqual.AssemblyInfo.cs
LongestIncreasingSequenceOfEqual/obj/Debug/netcoreapp2.0/LongestIncreasingSequenceOfEqual.AssemblyInfoInputs.cache
LongestIncreasingSequenceOfEqual/obj/Debug/netcoreapp2.0/LongestIncreasingSequenceOfEqual.assets.cache
LongestIncreasingSequenceOfEqual/obj/Debug/netcoreapp2.0/LongestIncreasingSequenceOfEqual.csproj.CoreCompileInputs.cache
MazeRunner/obj/MazeRunner.csproj.nuget.cache
MazeRunner/obj/MazeRunner.csproj.nuget.g.props
MazeRunner/obj/MazeRunner.csproj.nuget.g.targets
MazeRunner/obj/project.assets.json
MazeRunner/obj/Debug/netcoreapp2.0/MazeRunner.AssemblyInfo.cs
MazeRunner/obj/Debug/netcoreapp2.0/MazeRunner.AssemblyInfoInputs.cache
MazeRunner/obj/Debug/netcoreapp2.0/MazeRunner.assets.cache
MazeRunner/obj/Debug/netcoreapp2.0/MazeRunner.csproj.CoreCompileInputs.cache
MostFrequentNumber/obj/Debug/MostFrequentNumber.csproj.CoreCompileInputs.cache
MoveHiddenTask/obj/HIDDENTASK_MOVE.csproj.nuget.cache
MoveHiddenTask/obj/HIDDENTASK_MOVE.csproj.nuget.g.props
MoveHiddenTask/obj/HIDDENTASK_MOVE.csproj.nuget.g.targets
MoveHiddenTask/obj/project.assets.json
MoveHiddenTask/obj/Debug/netcoreapp2.1/HIDDENTASK_MOVE.AssemblyInfo.cs
MoveHiddenTask/obj/Debug/netcoreapp2.1/HIDDENTASK_MOVE.AssemblyInfoInputs.cache
MoveHiddenTask/obj/Debug/netcoreapp2.1/HIDDENTASK_MOVE.assets.cache
MoveHiddenTask/obj/Debug/netcoreapp2.1/HIDDENTASK_MOVE.csproj.CoreCompileInputs.cache
MultiplicationSign/obj/MultiplicationSign.csproj.nuget.cache
MultiplicationSign/obj/MultiplicationSign.csproj.nuget.g.props
MultiplicationSign/obj/MultiplicationSign.csproj.nuget.g.targets
MultiplicationSign/obj/project.assets.json
MultiplicationSign/obj/Debug/netcoreapp2.1/MultiplicationSign.AssemblyInfo.cs
MultiplicationSign/obj/Debug/netcoreapp2.1/MultiplicationSign.AssemblyInfoInputs.cache
MultiplicationSign/obj/Debug/netcoreapp2.1/MultiplicationSign.assets.cache
MultiplicationSign/obj/Debug/netcoreapp2.1/MultiplicationSign.csproj.CoreCompileInputs.cache
NonDividable/obj/NonDividable.csproj.nuget.cache
NonDividable/obj/NonDividable.csproj.nuget.g.props
NonDividable/obj/NonDividable.csproj.nuget.g.targets
NonDividable/obj/project.assets.json
NonDividable/obj/Debug/netcoreapp2.0/NonDividable.AssemblyInfo.cs
NonDividable/obj/Debug/netcoreapp2.0/NonDividable.AssemblyInfoInputs.cache
NonDividable/obj/Debug/netcoreapp2.0/NonDividable.assets.cache
NonDividable/obj/Debug/netcoreapp2.0/NonDividable.csproj.CoreCompileInputs.cache
PasswordTask/obj/PasswordTask.csproj.nuget.cache
PasswordTask/obj/PasswordTask.csproj.nuget.g.props
PasswordTask/obj/PasswordTask.csproj.nuget.g.targets
PasswordTask/obj/project.assets.json
PasswordTask/obj/Debug/netcoreapp2.0/PasswordTask.AssemblyInfo.cs
PasswordTask/obj/Debug/netcoreapp2.0/PasswordTask.AssemblyInfoInputs.cache
PasswordTask/obj/Debug/netcoreapp2.0/PasswordTask.assets.cache
PasswordTask/obj/Debug/netcoreapp2.0/PasswordTask.csproj.CoreCompileInputs.cache
PokemonTrainer/obj/PokemonTrainer.csproj.nuget.cache
PokemonTrainer/obj/PokemonTrainer.csproj.nuget.g.props
PokemonTrainer/obj/PokemonTrainer.csproj.nuget.g.targets
PokemonTrainer/obj/project.assets.json
PokemonTrainer/obj/Debug/netcoreapp2.0/PokemonTrainer.AssemblyInfo.cs
PokemonTrainer/obj/Debug/netcoreapp2.0/PokemonTrainer.AssemblyInfoInputs.cache
PokemonTrainer/obj/Debug/netcoreapp2.0/PokemonTrainer.assets.cache
PokemonTrainer/obj/Debug/netcoreapp2.0/PokemonTrainer.csproj.CoreCompileInputs.cache
ReverseNumber/obj/ReverseNumber.csproj.nuget.cache
ReverseNumber/obj/ReverseNumber.csproj.nuget.g.props
ReverseNumber/obj/ReverseNumber.csproj.nuget.g.targets
ReverseNumber/obj/project.assets.json
ReverseNumber/obj/Debug/netcoreapp2.0/ReverseNumber.AssemblyInfo.cs
ReverseNumber/obj/Debug/netcoreapp2.0/ReverseNumber.AssemblyInfoInputs.cache
ReverseNumber/obj/Debug/netcoreapp2.0/ReverseNumber.assets.cache
ReverseNumber/obj/Debug/netcoreapp2.0/ReverseNumber.csproj.CoreCompileInputs.cache
SortThreeNumbers/obj/SortThreeNumbers.csproj.nuget.cache
SortThreeNumbers/obj/SortThreeNumbers.csproj.nuget.g.props
SortThreeNumbers/obj/SortThreeNumbers.csproj.nuget.g.targets
SortThreeNumbers/obj/project.assets.json
SortThreeNumbers/obj/Debug/netcoreapp2.0/SortThreeNumbers.AssemblyInfo.cs
SortThreeNumbers/obj/Debug/netcoreapp2.0/SortThreeNumbers.AssemblyInfoInputs.cache
SortThreeNumbers/obj/Debug/netcoreapp2.0/SortThreeNumbers.assets.cache
SortThreeNumbers/obj/Debug/netcoreapp2.0/SortThreeNumbers.csproj.CoreCompileInputs.cache
Speeds/obj/SpeedsBREAKITDOWN.csproj.nuget.cache
Speeds/obj/SpeedsBREAKITDOWN.csproj.nuget.g.props
Speeds/obj/SpeedsBREAKITDOWN.csproj.nuget.g.targets
Speeds/obj/project.assets.json
Speeds/obj/Debug/netcoreapp2.0/SpeedsBREAKITDOWN.AssemblyInfo.cs
Speeds/obj/Debug/netcoreapp2.0/SpeedsBREAKITDOWN.AssemblyInfoInputs.cache
Speeds/obj/Debug/netcoreapp2.0/SpeedsBREAKITDOWN.assets.cache
Speeds/obj/Debug/netcoreapp2.0/SpeedsBREAKITDOWN.csproj.CoreCompileInputs.cache
SpellCaster/obj/SpellCaster.csproj.nuget.cache
SpellCaster/obj/SpellCaster.csproj.nuget.g.props
SpellCaster/obj/SpellCaster.csproj.nuget.g.targets
SpellCaster/obj/project.assets.json
SpellCaster/obj/Debug/netcoreapp2.0/SpellCaster.AssemblyInfo.cs
SpellCaster/obj/Debug/netcoreapp2.0/SpellCaster.AssemblyInfoInputs.cache
SpellCaster/obj/Debug/netcoreapp2.0/SpellCaster.assets.cache
SpellCaster/obj/Debug/netcoreapp2.0/SpellCaster.csproj.CoreCompileInputs.cache
SpiralMatrix/obj/SpiralMatrix.csproj.nuget.cache
SpiralMatrix/obj/SpiralMatrix.csproj.nuget.g.props
SpiralMatrix/obj/SpiralMatrix.csproj.nuget.g.targets
SpiralMatrix/obj/project.assets.json
SpiralMatrix/obj/Debug/netcoreapp2.0/SpiralMatrix.AssemblyInfo.cs
SpiralMatrix/obj/Debug/netcoreapp2.0/SpiralMatrix.AssemblyInfoInputs.cache
SpiralMatrix/obj/Debug/netcoreapp2.0/SpiralMatrix.assets.cache
SpiralMatrix/obj/Debug/netcoreapp2.0/SpiralMatrix.csproj.CoreCompileInputs.cache
SubSetOfSumS/obj/Debug/SubSetOfSumS.csproj.CoreCompileInputs.cache
TribonacciTriangle/obj/TribonacciTriangle.csproj.nuget.cache
TribonacciTriangle/obj/TribonacciTriangle.csproj.nuget.g.props
TribonacciTriangle/obj/TribonacciTriangle.csproj.nuget.g.targets
TribonacciTriangle/obj/project.assets.json
TribonacciTriangle/obj/Debug/netcoreapp2.0/TribonacciTriangle.AssemblyInfo.cs
TribonacciTriangle/obj/Debug/netcoreapp2.0/TribonacciTriangle.AssemblyInfoInputs.cache
TribonacciTriangle/obj/Debug/netcoreapp2.0/TribonacciTriangle.assets.cache
TribonacciTriangle/obj/Debug/netcoreapp2.0/TribonacciTriangle.csproj.CoreCompileInputs.cache
TribonacciTriangle/obj/Debug/netcoreapp2.0/TribonacciTriangle.csprojResolveAssemblyReference.cache
MostFrequentNumber/obj/Debug/MostFrequentNumber.csproj.CoreCompileInputs.cache
SubSetOfSumS/obj/Debug/SubSetOfSumS.csproj.CoreCompileInputs.cache
